title=Known Adblock Plus subscriptions

<style type="text/css">
.subscriptions-list,
.supplemented-subscriptions-list
{
  margin: 0px;
  list-style: none;
}

.subscriptions-list
{
  padding: 0px;
}

.subscriptions-list li
{
  margin: 0;
  list-style-type: none;
}

.supplemented-subscriptions-list
{
  padding: 0px 0px 0px 30px;
}

[dir="rtl"] .supplemented-subscriptions-list
{
  padding: 0px 30px 0px 0px;
}

.subscription
{
  position: relative;
  overflow: auto;
  /* Using outline and margin instead of border to prevent overlapping
     and missing connections in hierarchy */
  outline: 1px dashed #000;
  margin-left: -1px;
  margin-top: 1px;
}

#content .subscription h1
{
  margin: 0px;
  font-size: 16px;
}

.subscription p
{
  margin: 0px;
}

.subscription-summary,
.subscription-authors,
.subscription-links
{
  padding: 5px;
}

.subscription-content,
.subscription-details
{
  float: left;
  width: 50%;
}

[dir="rtl"] .subscription-content,
[dir="rtl"] .subscription-details
{
  float: right;
}

.subscription-authors,
.subscription-links
{
  border-left: 1px dashed #000;
}

[dir="rtl"] .subscription-authors,
[dir="rtl"] .subscription-links
{
  border-left: none;
  border-right: 1px dashed #000;
}

.subscription-links
{
  border-top: 1px dashed #000;
}

.subscriptions .deprecated
{
  opacity: 0.5;
}
</style>

<p>{{"Below is a list of the actively maintained filter subscriptions that we're aware of. To subscribe to a filter list, click its \"Subscribe\" link. Please note that <a href=\"getting_started#subscription\">you shouldn't add too many filter subscriptions</a>."|translate("s1")}}</p>

{% from "includes/subscriptionList" import display_subscriptions %}

{{ display_subscriptions(get_subscriptions()) }}

<p>{{"Don’t see your filter list here? <a href=\"mailto:subscriptionlist@adblockplus.org\">Send us</a> your list along with any information that you want displayed on this page. Note that in order to be included on this list, your subscription must contain a brief overview describing the origin of the filter list and the preferred way of contacting you should a problem arise. Please keep in mind that you should be able to fix any issue with your list within a reasonable amount of time."|translate("s2")}}</p>

<p>{{"All filter lists on this page are maintained by third parties. eyeo, the company behind Adblock Plus, has no control over them. We only list them to help you find subscriptions that may be useful for you. In no case shall eyeo be held liable towards you, or any other third party, for any loss or damage (including, but not limited to, loss of chances and of business) deriving directly or indirectly from your use of these lists."|translate("s3")}}</p>
